@model Loanda.Web.Models.Email.EmailViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="bd-example-modal-lg modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Manage User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form asp-controller="Email" asp-action="Details" method="post">
                    THIS IS THE MODAL BODY
                    @*@Html.DisplayNameFor(model => @Model.Subject)
        <p> @Html.DisplayFor(model => @Model.Subject)</p>*@

        <p class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </p>
        <p class="col-sm-10">
            @Html.DisplayFor(model => Model.Subject)
        </p>

                    <div>
                        <div>
                            <a class="btn btn-primary" title="Mark email as invalid" asp-controller="Email">Invalid</a> |
                            <a class="btn btn-primary" title="Create new loan application" asp-controller="Applicant" asp-action="Create">New</a>
                          
                        </div>
                    </div>


                    <div class="modal-footer d-flex justify-content-center">

                        <button type="submit" class="btn btn-indigo">
                            <svg id="i-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M2 30 L30 2 M30 30 L2 2" />
                            </svg>
                        </button>
                        <button type="submit" class="btn btn-indigo"> Save Changes </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>