@model Loanda.Web.Models.Email.EmailViewModel
@{
    ViewData["Title"] = "Email Details";
}

<h1>Email Details</h1>

@if (TempData["Error"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                @TempData["Error"]
            </div>
        </div>
    </div>
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SenderEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SenderEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SenderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateReceived)
        </dd>
    </dl>

</div>

<div>
    <div>
        @*<a class="btn btn-primary" title="Mark email as invalid" asp-controller="Email" asp-action="MarkAsInvalid" asp-route-id="@Model.Id">Invalid</a> |
            <a class="btn btn-primary" title="Create new loan application" asp-controller="Applicant" asp-action="Create" asp-route-id="@Model.Id">New</a> |*@
        <a asp-controller="Email" asp-action="Index">Back to All Emails</a>
    </div>
</div>
<div id="zamestiTUK">

    <div id="test">
        <a id="EGNbtn" class="btn btn-primary">Create New Applicant</a>
    </div>
</div>
@*<button id="EGNbtn">Create new Applicant</button>*@

<div id="Egn-Container">

</div>

@section Scripts{
    <script>
        $('#EGNbtn').click(function (e) {
            e.preventDefault();
            const btn = $('#EGNbtn')
            //const container = $('#Egn-Container');

            $.ajax({
                url: '/Applicant/CheckApplicant',
                type: 'Get',
                success: function (response) {
                    btn.replaceWith(response);

                    $('#BtnSubmitEGN').ready().click(function (e) {
                        e.preventDefault();
                        //let btntest = $('#BtnSubmitEGN')
                        //console.log(btntest)
                        const formD = $('#form-dat').serialize
                        const divContainer = $('#FormContainer')
                        //const container = $('#Egn-Container');
                        let input = document.getElementById('asdtest123').value;
                        if (!input) {
                            $('#checkEgn').text('Please enter egn!')
                        }
                        else {

                            $.ajax({
                                url: '/Applicant/CheckApplicant',
                                data: {
                                    'EGN': input
                                },
                                type: 'Post',
                                success: function (abcaba) {

                                    const div = $('#test');
                                    div.replaceWith(abcaba);



                                }
                            })
                        }
                    })
                }
            })
        })
    </script>
    <script>
        function raboti() {
            console.log("stigam li do tuk ve");
            debugger;

            let egn = $('#customEGN').val();
            let firstName = $('#customFirstName').val();
            let middleName = $('#customMiddleName').val();
            let lastName = $('#customLastName').val();
            let dateOfBirth = $('#customDateOfBirth').val();
            let phoneNumber = $('#customPhoneNumber').val();
            let emailAddress = $('#customEmailAddress').val();
            let address = $('#customAddress').val();
            let city = $('#customCity').val();
            let Id = $('#CustomApplicantId').val();

            console.log(firstName);
            $.ajax({
                type: 'Post',
                url: '/Applicant/Create',
                data: {
                    //'id': Id,
                    'EGN': egn,
                    'FirstName': firstName,
                    'MiddleName': middleName,
                    'LastName': lastName,
                    'DateOfBirth': dateOfBirth,
                    'PhoneNumber': phoneNumber,
                    'EmailAddress': emailAddress,
                    'Address': address,
                    'City': city
                },
                success: function (result) {
                    const div = $('#zamestiTUK');
                    div.replaceWith(result);
                }
            })
        }
    </script>

    <script>
        function rabotiEditMode() {
            console.log("We are in Edit Mode");
            debugger;

            let egn = $('#customEGN').val();
            let firstName = $('#customFirstName').val();
            let middleName = $('#customMiddleName').val();
            let lastName = $('#customLastName').val();
            let dateOfBirth = $('#customDateOfBirth').val();
            let phoneNumber = $('#customPhoneNumber').val();
            let emailAddress = $('#customEmailAddress').val();
            let address = $('#customAddress').val();
            let city = $('#customCity').val();
            let Id = $('#CustomApplicantId').val();

            console.log(firstName);
            $.ajax({
                type: 'Post',
                url: '/Applicant/Edit',
                data: {
                    'id': Id,
                    'EGN': egn,
                    'FirstName': firstName,
                    'MiddleName': middleName,
                    'LastName': lastName,
                    'DateOfBirth': dateOfBirth,
                    'PhoneNumber': phoneNumber,
                    'EmailAddress': emailAddress,
                    'Address': address,
                    'City': city
                },
                success: function (result) {
                    const div = $('#zamestiTUK');
                    div.replaceWith(result);
                }
            })
        }
    </script>
}
