@model Loanda.Web.Models.Email.EmailViewModel
@{
    ViewData["Title"] = "Email Details";
}

<h1>Email Details</h1>

@if (TempData["Error"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                @TempData["Error"]
            </div>
        </div>
    </div>
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SenderEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SenderEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SenderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateReceived)
        </dd>
    </dl>

</div>

<div>
    <div>
        @*<a class="btn btn-primary" title="Mark email as invalid" asp-controller="Email" asp-action="MarkAsInvalid" asp-route-id="@Model.Id">Invalid</a> |
            <a class="btn btn-primary" title="Create new loan application" asp-controller="Applicant" asp-action="Create" asp-route-id="@Model.Id">New</a> |*@
        <a asp-controller="Email" asp-action="Index">Back to All Emails</a>
    </div>
</div>

<a id="EGNbtn" class="btn btn-primary">Create New Applicant</a>
@*<button id="EGNbtn">Create new Applicant</button>*@

<div id="Egn-Container">

</div>

@section Scripts{
    <script>
        $('#EGNbtn').click(function (e) {
            e.preventDefault();
            const btn = $('#EGNbtn')
            //const container = $('#Egn-Container');

            $.ajax({
                url: '/Applicant/CheckApplicant',
                type: 'get',
                success: function (response) {
                    btn.replaceWith(response)

                    $('#BtnSubmitEGN').ready().click(function (e) {
                        e.preventDefault();
                        let btntest = $('#BtnSubmitEGN')
                        console.log(btntest)
                        const formD = $('#form-dat').serialize
                        const divContainer = $('#FormContainer')
                        //const container = $('#Egn-Container');

                        $.ajax({
                            url: '/Applicant/CheckApplicant',
                            data: formD,
                            type: 'post',
                            success: function (response) {
                                divContainer.replaceWith(response)
                            }
                        })
                    })
                }
            })
        })
    </script>
}
