@model IEnumerable<Loanda.Web.Models.Email.EmailViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Emails</h1>

@*<p>
    <a class="btn btn-outline-primary" title="Create an author" asp-action="Create"><i class="fas fa-user-plus"></i><b> Create</b></a>
</p>*@
<form asp-controller="Email" asp-action="Index" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeletedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>*@
                    @*<td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</form>
