@model IEnumerable<Loanda.Web.Models.Email.EmailViewModel>
@{
    ViewData["Title"] = "Received Emails";
}
<div class="container-fluid">
<div align="justify">
    <h1>
        <svg id="i-flag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="red" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M6 2 L6 30 M6 6 L26 6 20 12 26 18 6 18" />
        </svg> Invalid emails
    </h1>
</div>

    <form asp-controller="Email" asp-action="Invalid" method="post">

        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GmailEmailId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateReceived)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SenderEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SenderName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedOn)
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr onclick="myFunction('@item.Id')" style="cursor: pointer">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GmailEmailId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateReceived)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SenderEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SenderName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td>
                            <div>
                                <a class="btn btn-danger rounded" title="Mark email mark as not reviewed" asp-controller="Email" asp-action="MarkNotReviewed" asp-route-id="@item.Id" method="post">
                                    Change to Not Reviewed
                                </a>
                            </div>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </form>
</div>


<a href="#" class="to-top justify-content-center">
    <svg id="i-chevron-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
        <path d="M30 20 L16 8 2 20" />
    </svg>
</a>

<script>
    $(document).ready(function () {
        let duration = 500;
        $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('.to-top').fadeIn(duration);
            } else {
                $('.to-top').fadeOut(duration);
            }
        });

        $('.to-top').click(function (event) {
            event.preventDefault();
            $('html').animate({ scrollTop: 0 }, duration);
            return false;
        })
    });
</script>

<style>
    .to-top {
        position: fixed;
        bottom: 50px;
        right: 20px;
        text-decoration: none;
        color: #fb8c00;
        padding: 10px 20px;
        display: in-line;
    }

        .to-top:hover {
            color: #151f28;
        }
</style>