@model IEnumerable<Loanda.Web.Models.Email.EmailViewModel>
@{
    ViewData["Title"] = "New";
}
<div class="container-fluid">
<div align="justify">
    <h1>
        <svg id="i-mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="red" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M2 26 L30 26 30 6 2 6 Z M2 6 L16 16 30 6" />
        </svg> New Emails
    </h1>
</div>


    <form asp-controller="Email" asp-action="New" method="post">

        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateReceived)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SenderEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SenderName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsDeleted)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AttachmentsTotalSizeInMB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalAttachments)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr onclick="myFunction('@item.Id')" style="cursor: pointer">
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateReceived)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SenderEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SenderName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsDeleted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AttachmentsTotalSizeInMB)
                            </td>
                            <td>
                                @if (item.TotalAttachments > 0)
                                {
                                    <a href="#" class="badge badge-pill badge-warning">@Html.DisplayFor(modelItem => item.TotalAttachments)</a>
                                    <svg id="i-paperclip" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                        <path d="M10 9 L10 24 C10 28 13 30 16 30 19 30 22 28 22 24 L22 6 C22 3 20 2 18 2 16 2 14 3 14 6 L14 23 C14 24 15 25 16 25 17 25 18 24 18 23 L18 9" />
                                    </svg>
                                }
                            </td>
                        </tr>
                        <div class="modal @item.Id" id="my_modal">
                            <div class="modal-dialog modal-lg border rounded ">
                                <div id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                                    <div class="modal-content">
                                        <div class="modal-header text-center p-3 bg-light mb-2">
                                            <h4 class="modal-title w-100 font-weight-bold"><i class="fa fa-user-circle-o" aria-hidden="true"></i>E-mail</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mx-2">
                                            <form asp-controller="Email" asp-action="Details" method="post">
                                                <h6 class="modal-title w-100 font-weight-bold">
                                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                    @Html.DisplayNameFor(modelItem => item.Subject)
                                                </h6>
                                                <p class="col">
                                                    @Html.DisplayFor(modelItem => item.Subject)
                                                </p>
                                                <h6 class="modal-title w-100 font-weight-bold">
                                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                    @Html.DisplayNameFor(modelItem => item.Body)
                                                </h6>

                                                <p class="col" style="overflow-wrap:break-word">
                                                    @Html.Raw(item.Body)
                                                </p>

                                                <div class="modal-footer d-flex justify-content-center">
                                                    <div>
                                                        <div>
                                                            <a class="btn btn-danger rounded" id="btnFetch" title="Mark email as invalid" asp-controller="Email" asp-action="MarkInvalid" asp-route-id="@item.Id" method="post">
                                                                <svg id="i-ban" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
                                                                    <circle cx="16" cy="16" r="14" />
                                                                    <path d="M6 6 L26 26" />
                                                                </svg>
                                                            </a>
                                                            <a class="btn btn btn-success rounded" id="btnFetch" title="View email details" asp-controller="Email" asp-action="Details" asp-route-id="@item.Id">
                                                                <svg id="i-compose" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
                                                                    <path d="M27 15 L27 30 2 30 2 5 17 5 M30 6 L26 2 9 19 7 25 13 23 Z M22 6 L26 10 Z M9 19 L13 23 Z" />
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </tbody>
            </table>
        </div>
    </form>
</div>


@section scripts {
    <script>
        var userId;
        function myFunction(id) {
            userId = id;
            $(`.${id}`).modal('show');
        }
        $('#my_modal').on('show.bs.modal', function (e) {
            $(e.currentTarget).find('input[name="ID"]').val(userId);
        })
    </script>
    <script>
        $(document).on("click", "#contentPager a", function () {
            $.ajax({
                url: $(this).attr("href"),
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#content').html(result);
                }
            });
            return false;
        });
    </script>



    @*<script>
            $(document).ready(function () {
                $("#btnFetch").click(function () {

                    console.log('button is clicked');
                    // disable button
                    $(this).prop("disabled", true);
                    // add spinner to button
                    $(this).html(
                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
                    );
                });
            });
        </script>*@
}

<a href="#" class="to-top justify-content-center">
    <svg id="i-chevron-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
        <path d="M30 20 L16 8 2 20" />
    </svg></i>
</a>

<script>
    $(document).ready(function () {
        let duration = 500;
        $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('.to-top').fadeIn(duration);
            } else {
                $('.to-top').fadeOut(duration);
            }
        });

        $('.to-top').click(function (event) {
            event.preventDefault();
            $('html').animate({ scrollTop: 0 }, duration);
            return false;
        })
    });
</script>

<style>
    .to-top {
        position: fixed;
        bottom: 50px;
        right: 20px;
        text-decoration: none;
        color: #fb8c00;
        padding: 10px 20px;
        display: in-line;
    }

        .to-top:hover {
            color: #151f28;
        }
</style>






@*<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">*@

<@*div style="margin:3em;">
    <form class="form-inline" id="topicForm" action="" method="POST">
        <input type="text" id="inputTopic" name="topic" class="form-control mb-2 mr-sm-2" placeholder="Topic of interest" required autofocus />
        <button type="button" id="btnFetch" class="btn btn-primary mb-2">Submit</button>
    </form>
</div>*@ @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>*@
